<div class="LeftMenu">
	<a href="~/User/Publication" class="LeftMenuUpload">
		<img src="~/Content/icons/g.svg" alt="g" class="LeftMenuIcon" />
		<span>Новый запрос</span>
	</a>
	<a href="~/User/PersonalProfile" class="LeftMenuLink">
		<img src="~/Content/icons/m.svg" alt="m" class="LeftMenuIcon" />
		<span>Личный кабинет</span>
	</a>
	<a href="~/User/Notifications" class="LeftMenuLink">
		<img src="~/Content/icons/n.svg" alt="n" class="LeftMenuIcon" />
		<span>Уведомления</span>
	</a>
	<a href="~/User/Queries" class="LeftMenuLink">
		<img src="~/Content/icons/q.svg" alt="q" class="LeftMenuIcon" />
		<span>Запросы</span>
	</a>
	<a href="~/User/Sitemap" class="LeftMenuLink">
		<img src="~/Content/icons/c.svg" alt="c" class="LeftMenuIcon" />
		<span>Карта сайта</span>
	</a>
	<a href="~/User/Instructions" class="LeftMenuLink">
		<img src="~/Content/icons/i.svg" alt="i" class="LeftMenuIcon" />
		<span>Инструкции</span>
	</a>
</div>
