
@{
    ViewBag.Title = "Instructions";
}
<div class="wrapper">
	@Html.Partial("_MenuPartial")
	<div class="content-wrapper">
		<div class="article">
			<h2>Как пользоваться сайтом?</h2>
			<p>Цель этого сайта - облегчить взаимодействие ответственных за предоставление контента для публигации на сайте КГУ с сотрудниками управления информатизации.</p>
			<p>Для того, чтобы опубликовать какую-либо информацию на сайте, необходимо:</p>
			<ul>
				<li>Нажать на кнопку <img src="~/Content/icons/g.svg" alt="" class="LeftMenuIcon" />Отправить запрос</li>
				<li>Заполнить соответствующую форму</li>
				<li>Нажать "Отправить"</li>
			</ul>
			<p>Форма состоит из следующих полей:</p>
			<ul>
				<li>Тип запроса - это может быть Добавление, Изменение или удаление какой либо информации с сайта</li>
				<li>Заголовок запроса - в 2 словах опишите суть запроса, например, "Публикация новости"</li>
				<li>Комментарий - по желанию можно оставить дополнительные указания для сотрудников управления информатизации</li>
			</ul>
			<p>После этого, за статусом запроса можно будет следить в разделе <img src="~/Content/icons/q.svg" alt="" class="LeftMenuIcon" />Запросы, в меню слева. При изменении его статуса, соответствующее сообщение появится в разделе <img src="~/Content/icons/n.svg" alt="" class="LeftMenuIcon" />Уведомления. Там же будут появлятся различные напоминания и замечания.</p>
			<p>Раздел  <img src="~/Content/icons/c.svg" alt="" class="LeftMenuIcon" />Карта сайта позволяет увидеть, какими подразделениями университета контролируются определённые страницы сайта. Вы можеле подать запрос на изменение только тех страниц, за которые ответственно ваше подразделение. Полный список этих страниц так же можно увидеть в разделе <img src="~/Content/icons/m.svg" alt="" class="LeftMenuIcon" />Личный кабинет.</p>

		</div>


	</div>

</div>
