
@{
    ViewBag.Title = "SiteMap";
}

<div class="wrapper">
	@Html.Partial("_MenuPartial")
	<div class="content-wrapper">
		@Html.ActionLink("Поиск выражения", "FindExpression", "Parser")
	</div>
</div>

